@(task: model.Task, files: Seq[(String, String)])(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@task.taskDefinitionName task logs from @task.startedAt</title>
    </head>

    <body>

        <h1>Task Logs</h1>
        <h2>@task.taskDefinitionName in @task.processDefinitionName</h2>
        <p>
            Task started at @task.startedAt, with status: @task.status
        </p>

        <table>
            <tr>
                @for(fileWithIndex <- files.zipWithIndex) {
                    <td style="padding-right:10px">
                        <a href="#log_@fileWithIndex._2">@fileWithIndex._1._1</a>
                    </td>                    
                }
            </tr>
        </table>

        @for(fileWithIndex <- files.zipWithIndex) {
            val ((name, messages), ix) = fileWithIndex
            <h2 name="log_@fileWithIndex._2">@fileWithIndex._1._1</h2>
            <pre style="white-space: pre-wrap;">@fileWithIndex._1._2</pre>
        }


    </body>

</html>